{% render 'partials/head.liquid' %}
<body>
  {% render 'partials/header.liquid' %}
  <main>
    <article>
      <h2>Alle radiostations binnen handbereik</h2>
      <h2>Kies je favoriet en luister direct!</h2>
    </article>
    <div class="radiostations">
      <a href="">
        <div class="radio-veronica">
          <img src="/assets/radio-veronica-logo.svg" alt="">
        </div>
      </a>
      <a href="">
        <div class="100-nl">
          <img src="/assets/100-nl-logo.svg" alt="">
        </div>
      </a>
      <a href="">
        <div class="slam-fm">
          <img src="/assets/slam-fm-logo.svg" alt="">
        </div>
      </a>
      <a href="">
        <div class="sublime">
          <img src="/assets/sublime-logo.svg" alt="">
        </div>
      </a>
    </div>
  </main>
  {% render 'partials/foot.liquid' %}

</body>