{% render 'partials/head.liquid' %}
<body>
  {% render 'partials/header.liquid' %}
  <main>
    <article>
      <h2>Alle radiostations binnen handbereik</h2>
      <h2>Kies je favoriet en luister direct!</h2>
    </article>
    <div class="radiostations">
      <a href="/radio-veronica" class="card-veronica">
        <div class="radio-veronica">
          {% render 'svg/veronica.liquid' %}
        </div>
      </a>
      <a href="/radio-veronica" class="card-100-nl">
        <div class="100-nl">
          <img src="/assets/100-nl-logo.svg" alt="100% NL Logo">
        </div>
      </a>
      <a href="/radio-veronica" class="card-slam-fm">
        <div class="slam-fm">
          <img src="/assets/slam-fm-logo.svg" alt="Slam FM Logo">
        </div>
      </a>
      <a href="/radio-veronica" class="card-sublime">
        <div class="sublime">
          <img src="/assets/sublime-logo.svg" alt="Sublime Logo">
        </div>
      </a>
    </div>
    <div class="wavesvg">{% render 'svg/wave.liquid' %}</div>
  </main>
  {% render 'partials/foot.liquid' %}
</body>