{% render 'partials/head.liquid' %}
<body>
    {% render 'partials/header.liquid' %}
    <main>
        <h1>Welcome to Radio Veronica</h1>
        <p>This is the homepage.</p>
    </main>
    {% render 'partials/foot.liquid' %}