{% render 'partials/head.liquid' %}
<body>
    {% render 'partials/header.liquid' %}
    <main>
        <h1>Welkom bij Mediahuis</h1>
        <p>Pagina</p>
    </main>
    {% render 'partials/foot.liquid' %}